.form__msg {
	margin-bottom: 30px;
	padding: 30px;
	// Type
	text-align: center;
	@extend .post-styles;

	* {
		// Type
		color: #fff;
	}
}

.form__msg--success {
	background-color: $ui-color-11;
}

.form__msg--error {
	background-color: $ui-color-10;
}