.site-banner--login{
	margin-bottom: -140px;
	background: $ui-color-1;
}

//---- Responsive
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-banner--login {
		padding-top: 120px;
		padding-bottom: 180px;
	}
}

@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) and (max-width: map-get($breakpoints, tablet-1)) {
	.site-banner--login {
		padding-top: 60px;
		padding-bottom: 170px;
	}
}

@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.site-banner--login {
		.site-banner__title {
			border-bottom: 10px solid $ui-color-2;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.site-banner--login {
		padding-top: 30px;
		padding-bottom: 170px;

		.site-banner__title {
			padding-bottom: 20px;
			border-bottom: 4px solid $ui-color-2;
		}
	}
}