.site-banner--membership {
	background: $ui-color-4;

	.site-banner__title {
		// Type
		color: $ui-color-2;
	}
}

//---- Responsive
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-banner--membership {
		padding: 120px 0;
		margin-bottom: -80px;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) {
	.site-banner--membership {
		padding: 60px 0;
		margin-bottom: -40px;

		.site-banner__title {
			br {
				display: none;
			}
		}
	}
}